---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import { getPermalink } from '~/utils/permalinks';

import Features2 from '~/components/widgets/Features2.astro';
import Features from '~/components/widgets/Features.astro';
import Stats from '~/components/widgets/Stats.astro';
import Features3 from '~/components/widgets/Features3.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Brands from '~/components/widgets/Brands.astro';

import { YouTube } from 'astro-embed';

const metadata = {
  title: 'Home',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Transforming Data into Growth"
    actions={[
      {
        variant: 'primary',
        text: 'Get in Touch',
        href: getPermalink('/contact'),
        icon: 'tabler:mail',
      },
      { text: 'Learn more...', href: getPermalink('/about') },
    ]}
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight">Innovative</span> Marketing Solutions
    </Fragment>

    <Fragment slot="subtitle">
      Empowering <span class="font-semibold">GCC businesses</span> with innovative, cutting-edge, AI-powered, marketing solutions
      that drive growth, enhance brand visibility, and optimize customer engagement.
    </Fragment>

    <Fragment slot="image">
      <YouTube id="o4EifELHZNg" title="Are you ready to solve your business problems?" />
      <style is:inline>
        lite-youtube {
          margin: 0 auto;
          max-width: 100%;
        }
      </style>
    </Fragment>
  </Hero>

  <!-- Features2 Widget ************** -->

  <Features2
    title="About us"
    subtitle="At KFM Company, we harness the power of advanced data analytics and AI-driven insights to deliver unparalleled marketing strategies that drive growth, optimize customer engagement, and enhance brand visibility. With offices in Bahrain, Riyadh, Doha, and Dubai, our dedicated team of experts is committed to empowering businesses across the GCC region with personalized, data-centric solutions that yield measurable results."
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Stats Widget ****************** -->

  <Stats
    title="Discover the impressive impact of KFM Company"
    subtitle="The numbers below reflect the trust our users have placed in us and the remarkable outcomes we've helped them achieve."
    stats={[
      { title: 'Post Views', amount: '6.7M' },
      { title: 'Clients Served', amount: '96' },
      { title: 'App Downloads', amount: '576K' },
      { title: 'User Ratings', amount: '4.8' },
    ]}
  />

  <!-- Brands Widget ****************** -->

  <Brands
    title="Partnerships & Collaborations"
    subtitle="At KFM Company, we believe in the power of collaboration to drive innovation and create exceptional experiences."
    icons={[]}
    images={[
      {
        src: 'https://cdn.pixabay.com/photo/2015/05/26/09/37/paypal-784404_1280.png',
        alt: 'Paypal',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2021/12/06/13/48/visa-6850402_1280.png',
        alt: 'Visa',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2013/10/01/10/29/ebay-189064_1280.png',
        alt: 'Ebay',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2013/02/12/09/07/microsoft-80658_1280.png',
        alt: 'Microsoft',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2015/10/31/12/54/google-1015751_1280.png',
        alt: 'Google',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2021/12/06/13/45/meta-6850393_1280.png',
        alt: 'Meta',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2013/01/29/22/53/yahoo-76684_1280.png',
        alt: 'Yahoo',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="What services do we provide?"
    subtitle="We offer data-driven marketing services to enhance brand visibility, optimize customer engagement, and drive growth."
    items={[
      {
        title: 'Data Analytics & Insights',
        description:
          'We analyze customer behavior and market trends to provide actionable insights that inform effective marketing strategies.',
        icon: 'flat-color-icons:data-sheet',
      },
      {
        title: 'AI-Powered Campaigns',
        description:
          'Utilizing machine learning, we optimize marketing campaigns in real-time to maximize ROI and drive targeted engagement.',
        icon: 'flat-color-icons:mind-map',
      },
      {
        title: 'Personalized Digital Marketing',
        description:
          'Our tailored SEO, social media, and email marketing solutions ensure your message reaches the right audience at the right time.',
        icon: 'flat-color-icons:stack-of-photos',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="Main features of our services"
    subtitle="Our services are designed to leverage advanced technology and personalized strategies to maximize your marketing impact and drive business growth."
    columns={3}
    items={[
      {
        title: 'Advanced Data Analytics',
        description:
          'We use sophisticated tools to analyze customer behavior and market trends, providing you with actionable insights to make informed marketing decisions.',
        icon: 'tabler:brand-databricks',
      },
      {
        title: 'AI-Driven Campaign Optimization',
        description:
          'Our AI algorithms continuously optimize your marketing campaigns in real-time, ensuring maximum ROI and targeted audience engagement.',
        icon: 'tabler:robot',
      },
      {
        title: 'Personalized Digital Marketing',
        description:
          'We create tailored SEO, social media, and email marketing strategies that resonate with your audience and drive higher engagement rates.',
        icon: 'tabler:mail',
      },
      {
        title: 'Comprehensive Market Research',
        description:
          'Our thorough market analysis helps identify opportunities and challenges, allowing you to stay ahead of the competition and adapt to changing market dynamics.',
        icon: 'tabler:search',
      },
      {
        title: 'Customer Experience Enhancement',
        description:
          'We design personalized customer journeys and feedback loops to improve satisfaction and loyalty, creating lasting relationships with your clients.',
        icon: 'tabler:user-check',
      },
      {
        title: 'Content Creation & Strategy',
        description:
          'Our team of content experts produces high-quality, engaging content that aligns with your voice and effectively communicates your message to your target audience.',
        icon: 'tabler:file-text',
      },
    ]}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    items={[
      {
        title: 'What industries do you specialize in?',
        description:
          "We specialize in a wide range of industries including e-commerce, finance, hospitality, and more, offering tailored marketing solutions to meet each sector's unique needs.",
      },
      {
        title: 'How do you ensure the effectiveness of your marketing campaigns?',
        description:
          'We leverage advanced data analytics and AI-driven insights to continuously monitor and optimize your campaigns, ensuring they achieve the best possible results.',
      },
      {
        title: 'What is your pricing model?',
        description:
          'Our pricing model is flexible, including monthly retainers, project-based fees, and performance-based commissions to suit different business needs and budgets.',
      },
      {
        title: 'How can you help improve our customer engagement?',
        description:
          'We use personalized marketing strategies, including tailored content and targeted campaigns, to enhance customer engagement and foster long-term relationships.',
      },
      {
        title: 'Do you offer content creation services?',
        description:
          "Yes, our team of content experts can create high-quality, engaging content that aligns with your brand's voice and marketing goals.",
      },
      {
        title: 'How do you stay ahead of market trends?',
        description:
          'We conduct comprehensive market research and continuously analyze industry trends to ensure our strategies are always up-to-date and effective.',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>

  <!-- Features3 Widget ************** -->

  <Features3
    title="Let us know how we can help"
    subtitle="We’re here to help and answer any question you might have."
    columns={4}
    items={[
      {
        title: 'Phone',
        icon: 'tabler:phone',
        callToAction: {
          target: '_blank',
          text: '+973 0000 0000',
          href: 'tel:+97300000000',
          variant: 'link',
        },
      },
      {
        title: 'Chat',
        icon: 'tabler:headset',
        callToAction: {
          target: '_blank',
          text: 'WhatsApp Messege',
          href: 'wa.me/+97300000000',
          variant: 'link',
        },
      },
      {
        title: 'Email',
        icon: 'tabler:mail',
        callToAction: {
          target: '_blank',
          text: 'info@kfm.company',
          href: 'mailto:info@kfm.company',
          variant: 'link',
        },
      },
      {
        title: 'Office',
        icon: 'tabler:map-pin',
        callToAction: {
          target: '_blank',
          text: 'Manama, Bahrain',
          href: 'https://www.openstreetmap.org/way/199998746',
          variant: 'link',
        },
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get App',
        href: getPermalink('/app'),
        icon: 'tabler:apps',
      },
    ]}
  >
    <Fragment slot="title">Explore Our Mobile App</Fragment>

    <Fragment slot="subtitle">
      We provide you with a cutting-edge mobile app that helps you to reach your goals. It's currently available for iOS
      and Android devices.
    </Fragment>
  </CallToAction>
</Layout>
